.calendar {
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-top: 60px;
    height: 80vh;
    text-align: center;
    width: 85%;
  }
  .calendar h1{
    margin-bottom: 30px;
  }
  
  .calendar-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .calendar-navigation button{
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background-color: #44476a;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }
  
  .day-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .day-number {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .meeting-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .meeting-list li {
    margin-bottom: 5px;
  }
  
  .meeting-list li button {
    margin-left: 10px;
  }
  
  .empty-cell {
    border: 1px solid #ccc;
    padding: 10px;
  }
  